form{
    width: fit-content;
    margin:15% 0 0 35%;
    border:1px solid black;
    border-radius: 5px;
    padding:30px;
    background-color:cyan;
}
form > div{
    margin:16px 0;
}
form input{
    border-radius: 5px;
    padding: 3px 6px;
}
form label{
    font-size: 18px;
}
form button{
    padding: 7px 10px;
    font-style: italic;
    margin:10px 0 0 120px;
    cursor: pointer;
}